table {
  text-align: left;

  .button {
  }
}

.table-header {
  margin-bottom: 1rem;

  th {
    line-height: 3rem;
    text-transform: uppercase;
    border-top: 1px solid $color-black;
    border-bottom: 1px solid $color-black;
    border-collapse: collapse;
  }
}

tbody {

  tr {
    line-height: 2rem;

    svg {
      color: rgba($color-black, .4);
    }
  }
}

.table-form {

  th {
    font-size: .8rem;
    color: rgba($color-black, .4);
    text-transform: uppercase;
    border-top: 1px solid rgba($color-black, .4);
    border-bottom: 1px solid rgba($color-black, .4);
    border-collapse: collapse;
  }
}

td {
  padding: .2rem;
  border-bottom: 1px solid rgba($color-black, .4);
}

.table-image--avatar {
  width: 60px;
}

.div-table {
  display: table;         
  width: 100%;       
}

.div-table-row {
  display: table-row;
  width: auto;
  clear: both;
}

.div-table-head {
  font-weight: 700;
  padding: .5rem .1rem;
  text-transform: uppercase;
}

.div-table-col {
  display: table-cell;
  padding-right: 1rem;
}

.div-table-cell {
  display: table-cell;
  padding: .5rem .1rem;
  border-bottom: 1px solid rgba($color-black, .4);
}

.div-table-cell--buttons {
  display: flex;
  border-bottom: none;

  .button {
    margin: 0 .2rem;
  }
}