// PRIMARY COLOR
$color-primary: #247ba0;
$color-primary-light: #03cea4;
$color-primary-dark: #29335c;

// SECONDARY COLOR
$color-secondary: #ff1654;
$color-secondary-light: #ffd166;
$color-secondary-dark: #db2b39;

// STANDARD COLORS
$color-black: #000000;
$color-white: #FFFFFF;
$color-red: #B00020;
$color-green: #03DAC6;
$color-yellow: #FFDE03;

// NOTIFICATION COLORS
$color-error:  #ff3939;
$color-succes: #03cea4;
$color-info: #344be2;

// BREAKPOINTS
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;