// PRIMARY COLOR
$color-primary: #1E7A8C;
$color-primary-light: #58A9BC;
$color-primary-dark: #004E5F;

// SECONDARY COLOR
$color-secondary: #96E072;
$color-secondary-light: #C9FFA2;
$color-secondary-dark: #64AE43;

// STANDARD COLORS
$color-black: #000000;
$color-white: #FFFFFF;
$color-red: #B00020;
$color-green: #03DAC6;
$color-yellow: #FFDE03;
$color-blue: 

// NOTIFICATION COLORS
$color-error:  #B00020;
$color-succes: #03DAC6;
