.form {
  padding: 3rem 2rem;

  input, textarea {
    background: none;
    border: none;
    border-bottom: 2px solid $color-primary;
    margin: .8rem;
    line-height: 1.6rem;
    padding-left: .8rem;
    padding-bottom: .5rem;
    resize: vertical;

    &.is-invalid {
      border: none;
      border-bottom: 2px solid $color-primary;
      color:red;
    }
  }

  .button {
    margin: .8rem;
  }
}

select {
  background: none;
  border: none;
  border-bottom: 2px solid $color-primary;
  margin: .8rem;
  line-height: 1.6rem;
  padding-left: .8rem;
  padding-bottom: .5rem;
}

select {
  width: 200px;
}

.form--title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 0;
}

.form--crud {
  padding: 0;

  input, textarea, select {
    width: 90%;
  }
}

fieldset {

}
legend {
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: .2rem;
}

input[type=range] {
  border-bottom: 0;
}

.no-premium {
  opacity: .4;
  input {
    cursor: not-allowed;
  }
}

.box-premium {
  padding: 1rem;
  padding-bottom: 3rem;
  background: $color-primary;
  color: white;
  margin-bottom: 1rem;

  p{
    margin-bottom: 2rem;
  }
}

.tactic-list {
  padding: 1rem 0;
  p {
    margin-left: 0;
  }
}

.link-tactic {
  color: $color-primary;
  text-decoration: underline;
  font-weight: 700;
  font-size: 2rem;
}

.users-bio {
  display: flex;

  form {
    margin-left: 1rem;
  }
}